<!-- hr width="100%" size="4" color="#663366"-->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
 <tr>
  <td bgcolor="#CCDA94"><a href="#top"><img src="http://merit-intl.com/graphics/bg5.jpg" width="88" height="35" border="0"></a></td>
   <td bgcolor="#CCDA94">
   <div align="right">
    <img src="http://merit-intl.com/graphics/bg4.jpg" width="307" height="35" border="0">
   </div>
  </td>
 </tr>
</table>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=153552778007169";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>