<meta charset="utf-8" />
<meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
<% if current_article && current_article.title %>
    <title><%= current_article.title %></title>
  <% else %>
    <title><%= @website.title %></title>
<% end %>