<table border=0 cellpadding=0 cellspacing=0>
	<tr> 
	  <td colspan=2><img src="http://merit-intl.com/images/Untitled-1_01.gif" width=277 height=60></td>
	  <td colspan=4 class="search"> 
		<table border="0" cellspacing="0" cellpadding="0">
		  <tr> 
			<td bgcolor="#CCDA94"><img src="http://merit-intl.com/graphics/bg1.jpg" width="133" height="35"></td>
			<td bgcolor="#CCDA94"><a href="http://www.merit-intl.com/merit/search.html"><img src="http://merit-intl.com/graphics/bg6.jpg" width="192" height="35" border="0"></a></td>
			<td bgcolor="#CCDA94" width="30">&nbsp;</td>
		  </tr>
		</table>
	  </td>
	</tr>
	<tr> 
	  <td> <img src="http://merit-intl.com/images/Untitled-1_04.gif" width=221 height=40></td>
	  <td> <a href="http://merit-intl.com/merit/"><img src="http://merit-intl.com/images/Untitled-1_05.gif" width=130 height=40 border="0"></a></td>
	  <td> <a href="http://merit-intl.com/Merchant2/merchant.mvc?"><img src="http://merit-intl.com/images/Untitled-1_06.gif" width=128 height=40 border="0"></a></td>
	  <td> <a href="http://merit-intl.com/merit/about.html"><img src="http://merit-intl.com/images/Untitled-1_07.gif" width=129 height=40 border="0"></a></td>
	  <td> <a href="http://merit-intl.com/merit/services.html"><img src="http://merit-intl.com/images/Untitled-1_08.gif" width=127 height=40 border="0"></a></td>
	  <td> <img src="http://merit-intl.com/images/Untitled-1_09.gif" width=32 height=40></td>
	</tr>
</table>
<!-- hr color="#663366" size="4" /-->
<img src="http://merit-intl.com/graphics/bg2.jpg" style="width: 100%" height="6">	